#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.h3 {
  font-size: 18;
  font-weight: bold;
}

.infoBlock {
  display: flex;
  position: absolute;
  right: 0;
  margin: 2px;
}