@import "tailwindcss";

@layer utilities {
  @keyframes ripple-effect {
    0% {
      transform: scale(0);
      opacity: 0.7;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }

    .animate-ripple {
        animation: ripple-effect 600ms ease-out forwards;
    }

    .perspective-1000 {
        perspective: 1000px;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(129, 140, 248, 0.3); /* Indigo color */
        border-radius: 10px;
    }
}